# 01.람다함수

In [2]:
def f(x,y):
    return x+y

print(f(1,4))

5

In [3]:
f = lambda x,y:x+y
print(f(1,4))

f = lambda x:x**2
print(f(3))

f = lambda x:x/2
print(f(3))

5
9
1.5

# 02.맵리듀스

In [4]:
ex = [1,2,3,4,5]
f= lambda x: x**2 

print(list(map(f,ex)))

[1, 4, 9, 16, 25]

### map() 함수

In [8]:
ex = [1,2,3,4,5]
f= lambda x : x**2
for value in map (f,ex):
    print(value)

1
4
9
16
25

In [11]:

# map( ) 함수 : 리스트 컴프리헨션과의 비교
ex = [1,2,3,4,5]
[x ** 2 for x in ex]

[1, 4, 9, 16, 25]

In [12]:
# 한 개 이상의 시퀀스 자료형 데이터의 처리
ex = [1,2,3,4,5]
f = lambda x,y : x+y
list (map(f,ex,ex))

[2, 4, 6, 8, 10]

In [13]:
#필터링 , map()

list(map(lambda x:x **2 if x % 2 ==0 else x, ex))

[1, 4, 3, 16, 5]

In [14]:
# 리스트 컴프리 헨션

[x**2 if x %2 ==0 else x for x in ex]

[1, 4, 3, 16, 5]

### reduce() 함수

In [16]:
from functools import reduce
print(reduce(lambda x,y : x+y,[1,2,3,4,5]))

15

In [17]:
x= 0 
for y in [1,2,3,4,5]:
    x+=y
    
print(x)

15

# 03. 별표

In [18]:
def my_print(*contents):
    print(contents)
    
my_print("hello")
my_print("hello", "world")

('hello',)
('hello', 'world')

 4번째 줄은 제대로 동작하지만 5번째 줄은 당연히 에러가 난다.
my_print는 인자를 하나만 받는데, 두 개의 인자를 넘겨주었기 때문이다.

 일단 인자의 갯수를 가변적으로 받으려면 다음과 같이 변경해주면 된다.
 실행된 내용을 보니 5번째 줄이 에러 없이 동작하고,
전달 인자는 튜플의 형태로 함수에 전달된다는 것을 알 수 있다
(4번째 줄도 마찬가지로 튜플 형태로 출력되었다)

In [21]:
my_info = ['lee', '30','seoul','010','xxxx','yyyy']
name, age, address,*unknowns = my_info

print(name)
print(age)
print(address)
print(unknowns)

lee
30
seoul
['010', 'xxxx', 'yyyy']

In [22]:
def asterisk_test(a,*args):
    print(a,args)
    print(type(args))
    
asterisk_test(1,2,3,4,5,6)

1 (2, 3, 4, 5, 6)
<class 'tuple'>

In [23]:
def sum_all(*args):
    result =0
    for i in args:
        result += i
        
    return result

print(sum_all(1,2,3,4,5))
print(sum_all(1,2,3,4,5,6,7,8,9,10))

15
55

### 가변인자 함수는 함수가 몇 개의 인자를 받을지 정해지지 않은 함수

다음과 같이 입력받는 숫자의 개수와 상관없이 합을 구할 수 있는 함수를 만들 수 있음.

결과가 각각 15와 55로 표시되는 것을 확인할 수 있음
함수의 인자명은 args가 아닌 다른 것으로 변경 가능
가변인자 함수에 리스트 변수 등을 전달할 때는 앞에 *를 추가해야 함

### 별표의 사용 (**를 사용하면 가변 매개변수는 딕셔너리)

In [25]:
def asterisk_test(a,**kargs):
    print(a,kargs)
    print(type(kargs))
    
asterisk_test(1,b=2,c=3,d=4,e=5,f=6)

1 {'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}
<class 'dict'>

In [26]:
#별표의 언패킹 기능

def asterisk_test(a,args):
    print(a,*args)
    print(type(args))
    
asterisk_test(1,(2,3,4,5,6))

1 2 3 4 5 6
<class 'tuple'>

별표는 여러 개의 데이터를 담는 리스트, 튜플, 딕셔너리와 같은 자료형에서는 해당 데이터를 언패킹하는 기능을 한다. 

위 코드에서 asterisk_test 함수는 a와 args, 2개의 변수를 매개변수로 받는다. 여기서 주의할 점은 args 앞에 별표가 붙지 않았다는 점이다. 따라서 정수형인 a와 튜플형인 args가 매개변수에 입력된다. 핵심은 print(a, *args) 코드이다. 사실 args는 함수에 하나의 변수로 들어갔기 때문에 일반적이라면 다음과 같이 출력되어야 한다.

왜냐하면 튜플의 값은 하나의 변수이므로, 출력 시 괄호가 붙어 출력된다. 하지만 기대와 달리 1 2 3 4 5 6 형태로 출력되었다. 이는 일반적으로 print(a, b, c, d, e, f)처럼 각각의 변수를 하나씩 따로 입력했을 때 출력되는 형식이다. 이렇게 출력된 이유는 *args 때문이다.
즉, args 변수 앞에 별표가 붙어 이러한 결과가 나온 것이다.
이처럼 변수 앞의 별표는 해당변수를 언패킹한다. 
즉, 하나의 튜플 (2, 3, 4, 5, 6)이 아닌 각각의 변수로 존재하는 2, 3, 4, 5, 6으로 변경된다.

In [28]:
a,b,c = ([1,2],[3,4],[5,6])
print(a,b,c)

[1, 2] [3, 4] [5, 6]

# 04. 선형대수학

In [31]:
vector _a = [1,2,10]   
# 리스트로 표현한 경우 

vector _b = (1,2,10)  
# 튜플로 표현한 경우  

vector _c = {'x':1, 'y':1,'z':10}   
# 딕셔너리로 표현한 경우

SyntaxError: invalid syntax (<ipython-input-31-64100e99ae0f>, line 1)

## 파이썬 스타일 코드로 표현한 벡터

###  : 벡터의 연산

In [30]:
u=[2,2]
v=[2,3]
z=[3,5]
result = []

for i in range (len(u)):
    result.append(u[i]+v[i]+z[i])
    
print(result)

[7, 10]

In [32]:
u=[2,2]
v=[2,3]
z=[3,5]


result = [sum(t) for t in zip(u,v,z)]

print(result)

[7, 10]

### : 별표를 사용한 함수화

In [35]:
def vector_addition(*args):
    return [sum(t) for t in zip(*args)]

vector_addition(u,v,z)

[7, 10]